.date-btn {
    width: 40px;
    height: 40px;
    color: rgb(182, 182, 182);
    background: white;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 500px;

    margin-left: 30px; 
}

li {
    margin-top: 10px;
    width: 800px;
}

.delete-btn {
    width:100px;
    height: 30px;
    color: rgb(182, 182, 182);
    background-color: white;
    border: 1px solid rgb(182, 182, 182);
    margin-left: 5px;
}