
 input {  
    margin-top: 5px;
    height: 40px;
    width: 400px;
}

.form-div {
    width:100%;
    
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
} 

/* .message { 
    font-size: 0.8em ;
    /* color: red; */

.warning {
 color: red;
 font-size: 1.8em;
}

button {
    margin-top: 5px;
    width: 400px;
    height: 40px;
    background-color: rgb(82, 212, 212)
}


.date-btn {
    width: 40px;
    height: 40px;
    color: rgb(182, 182, 182);
    background: white;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 500px;

    margin-left: 30px; 
}


.delete-btn {
    width:100px;
    height: 30px;
    color: rgb(182, 182, 182);
    background-color: white;
    border: 1px solid rgb(182, 182, 182);
    margin-left: 5px;
}
